{% extends "detail.html" %}

{% load static %}
{% load i18n %}

{% block head_title %}{{ finding.message | safe }} - lens{% endblock head_title %}

{% block main_nav %}
<h1 class="mb-4 fs-5 d-flex justify-content-between align-items-baseline">
    <span>{% trans "Finding" %}</span>
    <span class="ms-3 me-auto fw-normal font-monospace text-muted">#{{ finding.id }}</span>
    {% if user.is_staff %}<a href="{% url 'admin:findings_finding_change' finding.id %}" title="{% trans 'Edit finding' %}"><i class="bi bi-pencil"></i></a>{% endif %}
</h1>

<ul class="list-unstyled font-monospace">
  <li class="mb-1"><a href="{% url 'resource_report' finding.resource.id %}"
    ><i class="bi bi-globe me-2"></i>{{ finding.resource.display_name }}</a></li>
  {% for parent in parents %}
  <li class="mb-1"><a href="{% url 'finding_detail' parent.obj.id %}{% if parent.ids %}?p={{ parent.string }}{% endif %}"
    ><i class="bi bi-caret-down me-2"></i><span>{{ parent.obj.full_key }}</span></a></li>
  {% endfor %}
  <li class="text-muted fw-semibold"><i class="bi bi-caret-right me-2"></i><span>{{ finding.full_key }}</span></li>
</ul>

<div class="fw-semibold mb-2">{% trans "Category" %}</div>
<div class="mb-4" title="{{ finding.response.prompt.category.title }}"><a href="{% url 'category_detail' finding.response.prompt.category.id %}"
  ><i class="bi bi-tag me-2"></i>{{ finding.response.prompt.category.title }}</a></div>

<div class="fw-semibold mb-2">{% trans "Prompt" %}</div>
<div class="mb-4" title="{{ finding.response.prompt.id }}"><a href="{% url 'prompt_detail' finding.response.prompt.id %}"
  ><i class="bi bi-card-text me-2"></i>{{ finding.response.prompt.title }}</a>
</div>

<div class="fw-semibold mb-2">{% trans "Response" %}</div>
<div class="mb-4" title="{{ finding.response.id }}"><a href="{% url 'admin:prompts_response_change' finding.response.id %}"
  ><i class="bi bi-check-square me-2"></i>{{ finding.response.message }}</a>
</div>

<div class="fw-semibold mb-2">{% trans "Source" %}</div>
<div class="mb-4" title="{{ finding.source.id }}"><a href="{% url 'source_detail' finding.source.id %}"
  ><i class="bi bi-search me-2"></i>{{ finding.source.shortest_name }}</a>
</div>

<div class="fw-semibold mb-2">{% trans "Contributors" %}</div>
<div class="font-monospace mb-4"><i class="bi bi-person me-2"></i>{{ finding.contributor }}</div>

{% for version in prompt_versions %}
{{ version.field_dict.created }}
{% endfor %}

<div class="fw-semibold mb-2">{% trans "Created" %}</div>
<div class="font-monospace mb-4" title="{{ finding.created }}"><i class="bi bi-calendar me-2"></i>{{ finding.created | date:"Y-m-d" }}</div>
{% endblock main_nav %}

{% block main_content %}
<section class="p-2 px-lg-4 mb-4">
  <blockquote class="my-4 fs-2 blockquote bg-primary-subtle p-3">{{ finding.message | safe }}</blockquote>
  <div class="lead mb-0">
  {{ finding.response.display_description | safe }}
  </div>
</section>

<div class="row">
  <div class="col-lg-6 mb-4">
    <section class="p-2 p-lg-4">
      <h3 class="mb-4 fs-5 d-flex justify-content-between">
        <span>{% trans "Prompt" %}</span>
        {% if user.is_staff %}<a href="{% url 'admin:prompts_prompt_change' finding.response.prompt.id %}" title="{% trans 'Edit prompt' %}"><i class="bi bi-pencil"></i></a>{% endif %}
      </h3>
      <blockquote class="my-4 blockquote bg-primary-subtle p-3">{{ finding.response.prompt.title }}</blockquote>
      {{ finding.response.prompt.display_description | safe }}
    </section>
  </div>

  <div class="col-lg-6 mb-4">
    <section class="p-2 p-lg-4">
      <h3 class="mb-4 fs-5 d-flex justify-content-between">
          <span>{% trans "Supporting evidence" %}</span>
          {% if user.is_staff %}<a href="{% url 'admin:prompts_response_change' finding.response.id %}" title="{% trans 'Edit supporting findings' %}"><i class="bi bi-pencil"></i></a>{% endif %}
      </h3>

      {% if supporting_findings %}
      <p class="text-muted">{% trans "We located the following findings in support of this finding" %}.</p>
      {% for support in supporting_findings %}
      <a
        class="btn btn-lg border btn-outline-light text-dark fw-semibold fs-6 w-100 py-3 mb-3 text-start"
        href="{% url 'finding_detail' support.id %}?p={% if parent_string %}{{ parent_string }},{% endif %}{{ finding.id }}"
      ><i class="bi bi-exclamation-circle me-4"></i>{{ support.message | safe }}</a>
      {% endfor %}
      {% else %}
      <p class="text-muted">{% trans "We did not locate any other findings in support this finding." %}</p>
      {% endif %}
    </section>
  </div>
</div>
{% endblock main_content %}
