{% load allauth %}
<section class="border rounded-3 p-3 mb-3 bg-light">
    <h2 class="fs-4">
        {% slot title %}
        {% endslot %}
    </h2>
    {% slot body %}
    {% endslot %}
    {% if slots.actions %}
        <ul class="nav flex-column">
            {% for action in slots.actions %}<li>{{ action }}</li>{% endfor %}
        </ul>
    {% endif %}
</section>
