{% extends "detail.html" %}

{% load static %}
{% load i18n %}

{% block head_title %}{{ source.name }} - lens{% endblock head_title %}

{% block main_nav %}
<h1 class="mb-4 fs-5 d-flex justify-content-between align-items-baseline">
    <span>{% trans "Source" %}</span>
    <span class="ms-3 me-auto fw-normal font-monospace text-muted">#{{ source.id }}</span>
    {% if user.is_staff %}<a href="{% url 'admin:sources_source_change' source.id %}" title="{% trans 'Edit source' %}"><i class="bi bi-pencil"></i></a>{% endif %}
</h1>

<div class="fw-semibold mb-2">{% trans "Created" %}</div>
<div class="font-monospace mb-4" title="{{ source.created }}"><i class="bi bi-calendar me-2"></i>{{ source.created | date:"Y-m-d" }}</div>
<div class="fw-semibold mb-2">{% trans "Updated" %}</div>
<div class="font-monospace mb-4" title="{{ source.updated }}"><i class="bi bi-calendar me-2"></i>{{ source.updated | date:"Y-m-d" }}</div>
{% endblock main_nav %}

{% block main_content %}
<section class="p-2 px-lg-4 mb-4">
  <h2 class="fs-1 mb-4">{{ source.name }}</h2>
  <p><a class="font-monospace" href="{{ source.url }}"><i class="bi bi-globe me-2"></i>{{ source.url }}</a></p>
  <p class="lead mb-4">{{ source.brief }}</p>
  {{ source.display_description | safe }}
</section>
<section class="p-2 px-lg-4 mb-4">
    <h3 class="fs-2 mb-4">Findings from {{ source.name }}</h3>
    <ul class="list-unstyled">
        {% for finding in source.findings.all %}
            <li class="mb-4 d-flex flex-column">
                <a href="{% url 'finding_detail' finding_id=finding.id %}">{{ finding.message | safe }}</a>
                <div class="text-muted font-monospace small">
                    <span class="me-4">{{ finding.resource.display_name }}</span><span>{{ finding.created | date:"Y-m-d" }}</span>
                </div>
            </li>
        {% empty %}
            <li>No findings for this source.</li>
        {% endfor %}
    </ul>
</section>
{% endblock main_content %}
