/*
 * SPDX-FileCopyrightText: 2024 UL Research Institutes
 * SPDX-License-Identifier: Apache-2.0
 */

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

// new colors
$ul-black: #000000;
$ul-midnight-blue: #122c49;
$ul-midnight-blue-brighter: hsl(211.64, 60.44%, 27.84%);
$ul-dark-blue: #000095;
$ul-bright-blue: #0a32ff;
$ul-steel-blue: #00689c;
$ul-fog: #577e9e;
$ul-dark-green: #123a28;
$ul-moss: #00948f;
$ul-aqua: #00e2e6;
$ul-sky-blue: #00cafb;
$ul-light-blue: #bce4f7;
$ul-light-blue-darker: hsl(199, 78.7%, 80.3%);
$ul-light-blue-lighter: hsl(199, 78.7%, 90.3%);
$ul-polar: #f0f8fc;
$ul-gray-4: #58595b;
$ul-gray-3: #939698;
$ul-gray-2: #bcbec0;
$ul-gray-1: #d8d9da;
$ul-gray-background: #ebebeb;
$ul-white: #ffffff;

// 2. Include any default variable overrides here
$primary: $ul-fog;
$secondary: $ul-gray-3;
$success: $ul-dark-green;
$info: $ul-sky-blue;
// $warning:       $yellow;
// $danger:        $red;
$light: $ul-light-blue;
$dark: $ul-midnight-blue;

$white: $ul-polar;
// $gray-100: #f8f9fa;
// $gray-200: #e9ecef;
// $gray-300: #dee2e6;
// $gray-400: #ced4da;
// $gray-500: #adb5bd;
// $gray-600: #6c757d;
// $gray-700: #495057;
// $gray-800: #343a40;
// $gray-900: #212529;
$black: $ul-midnight-blue;

$gray-300: $ul-fog;
$gray-400: $ul-light-blue;

$body-color: $ul-midnight-blue;

$link-color: $ul-steel-blue;

$card-border-color: $ul-fog;

$headings-color: $ul-midnight-blue;

$border-color: $ul-fog;

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";

$enable-negative-margins: true;

// 5. Include remainder of required parts
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/reboot";

// 6. Optionally include any other parts as needed
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
// @import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar"; // Requires nav
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/breadcrumb";
// @import "../../node_modules/bootstrap/scss/accordion";
@import "../../node_modules/bootstrap/scss/pagination";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/alert";
// @import "../../node_modules/bootstrap/scss/progress";
@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/close";
// @import "../../node_modules/bootstrap/scss/toasts";
// @import "../../node_modules/bootstrap/scss/modal"; // Requires transitions
// @import "../../node_modules/bootstrap/scss/tooltip";
// @import "../../node_modules/bootstrap/scss/popover";
// @import "../../node_modules/bootstrap/scss/carousel";
// @import "../../node_modules/bootstrap/scss/spinners";
@import "../../node_modules/bootstrap/scss/offcanvas"; // Requires transitions
// @import "../../node_modules/bootstrap/scss/placeholders";
@import "../../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../node_modules/bootstrap/scss/utilities/api";

@import "../../node_modules/bootstrap-icons/font/bootstrap-icons";

p:last-child {
  margin-bottom: 0;
}

.bg-light-lighter {
  background-color: $ul-light-blue-lighter;
}

.bg-light-darker {
  background-color: $ul-light-blue-darker;
}

.text-bg-light-lighter {
  color: $ul-midnight-blue;
  background-color: $ul-light-blue-lighter;
}

.text-bg-light-darker {
  color: $ul-midnight-blue;
  background-color: $ul-light-blue-darker;
}

.border-dotted {
  --bs-border-style: dotted;
}

.border-dashed {
  --bs-border-style: dashed;
}

.hoverable:hover {
  //background-color: $ul-midnight-blue !important;
  color: $ul-bright-blue !important;
  text-decoration: underline;
}

.compare-3 {
  min-width: 20rem;
  width: 20rem;
}

.compare-2 {
  min-width: 10rem;
  width: 10rem;
}
