{% load static %}
{% load i18n %}
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <title>{% block head_title %}lens{% endblock head_title %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{% static 'out/style.css' %}" rel="stylesheet" />
  </head>
  <body class="d-flex align-items-center h-100 bg-dark">
    {% block body %}
    <div class="m-auto">
      <h1 class="mb-3"><a href="{% url 'home' %}" class="display-1 text-white me-3 text-decoration-none"  style="text-shadow: 0 0 3px #00e2e6">lens</a>
        <span class="fs-5 text-light" style="border-bottom: 1px dashed #bce4f7;">digital safety observatory</span></h1>
      {% include "messages.html" %}
      <section class="border p-3 rounded-3 bg-light">
        {% block content %}
        {% endblock content %}
      </section>
      <footer class="mt-4 text-secondary">
        <p>
          A <a href="https://dsri.org">Digital Safety Research Institute</a> project.<br/>
          © 2024-2025 <a href="https://ul.org">Underwriters Laboratories Inc</a>.<br/>
        </p>
      </footer>
    </div>
    {% endblock body %}
    <script src="{% static 'out/bundle.js' %}" type="text/javascript"></script>
  </body>
</html>
