{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block main %}
<div class="m-auto">
  <div class="row gx-5">
    <div class="col-lg-3 mb-3 mb-lg-0">
      <span class="fs-4 mb-2 d-block">{% trans 'Account settings' %}</span>
      <ul class="nav nav-pills flex-column">
        {% if user.is_authenticated %}
          {% url 'account_email' as email_url %}
          {% if email_url %}
              <li class="nav-item">
                  <a class="nav-link{% if request.path == email_url %} active{% endif %}" href="{{ email_url }}">{% trans "Email" %}</a>
              </li>
          {% endif %}
          {% url 'account_change_password' as change_password_url %}
          {% if change_password_url %}
              <li class="nav-item">
                  <a class="nav-link{% if request.path == change_password_url %} active{% endif %}" href="{{ change_password_url }}">{% trans "Password" %}</a>
              </li>
          {% endif %}
          {% url 'mfa_index' as mfa_url %}
          {% if mfa_url %}
              <li class="nav-item">
                  <a class="nav-link{% if request.path == mfa_url %} active{% endif %}" href="{{ mfa_url }}">{% trans "Multi-factor authentication" %}</a>
              </li>
          {% endif %}
          {% url 'usersessions_list' as usersessions_list_url %}
          {% if usersessions_list_url %}
              <li class="nav-item">
                  <a class="nav-link{% if request.path == usersessions_list_url %} active{% endif %}" href="{{ usersessions_list_url }}">{% trans "Sessions" %}</a>
              </li>
          {% endif %}
          {% url 'socialaccount_connections' as socialaccount_connections_url %}
          {% if socialaccount_connections_url %}
              <li class="nav-item">
                  <a class="nav-link{% if request.path == socialaccount_connections_url %} active{% endif %}" href="{{ socialaccount_connections_url }}">{% trans "Connections" %}</a>
              </li>
          {% endif %}
          {% url 'account_logout' as logout_url %}
          {% if logout_url %}
              <li class="nav-item">
                  <a class="nav-link{% if request.path == logout_url %} active{% endif %}" href="{{ logout_url }}">{% trans "Log out" %}</a>
              </li>
          {% endif %}
        {% else %}
          {% url 'account_login' as login_url %}
          {% if login_url %}
              <li class="nav-item">
                  <a class="nav-link{% if request.path == login_url %} active{% endif %}" href="{{ login_url }}">{% trans "Log in" %}</a>
              </li>
          {% endif %}
          {% url 'account_signup' as signup_url %}
          {% if signup_url %}
              <li class="nav-item">
                  <a class="nav-link{% if request.path == signup_url %} active{% endif %}" href="{{ signup_url }}">{% trans "Sign up" %}</a>
              </li>
          {% endif %}
        {% endif %}
      </ul>
    </div>
    <div class="col-lg-6">
      {% block content %}
      {% endblock content %}
    </div>
  </div>
</div>
{% endblock main %}
