{% load i18n %}
{% if page_obj.paginator.num_pages > 1 %}
<nav class="d-flex justify-content-between mt-5">
  {% if page_obj.has_previous %}
  <a class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}&limit=1">{% trans "Previous" %}</a>
  {% else %}
  <a class="btn btn-outline-primary disabled">{% trans "Previous" %}</a>
  {% endif %}

  <span>{% blocktrans with number=page_obj.number num_pages=page_obj.paginator.num_pages %}Page {{ number }} of {{ num_pages }}{% endblocktrans %}</span>

  {% if page_obj.has_next %}
  <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}&limit=1">{% trans "Next" %}</a>
  {% else %}
  <a class="btn btn-outline-primary disabled">{% trans "Next" %}</a>
  {% endif %}
</nav>
{% endif %}
