/*
 * SPDX-FileCopyrightText: 2024 UL Research Institutes
 * SPDX-License-Identifier: Apache-2.0
 */

.md-header__button.md-logo {
  display: none;
}

[dir="ltr"] .md-header__title {
  margin-left: 0.5rem;
}
