{% extends "detail.html" %}

{% load static %}
{% load i18n %}

{% block head_title %}{{ category.title }} - lens{% endblock head_title %}

{% block main_nav %}
<h1 class="mb-4 fs-5 d-flex justify-content-between align-items-baseline">
    <span>{% trans "Category" %}</span>
    <span class="ms-3 me-auto fw-normal font-monospace text-muted">#{{ category.id }}</span>
    {% if user.is_staff %}<a href="{% url 'admin:prompts_category_change' category.id %}" title="{% trans 'Edit category' %}"><i class="bi bi-pencil"></i></a>{% endif %}
</h1>
<div class="fw-semibold mb-2">{% trans "Created" %}</div>
<div class="font-monospace mb-4" title="{{ category.created }}"><i class="bi bi-calendar me-2"></i>{{ category.created | date:"Y-m-d" }}</div>
<div class="fw-semibold mb-2">{% trans "Updated" %}</div>
<div class="font-monospace mb-4" title="{{ category.updated }}"><i class="bi bi-calendar me-2"></i>{{ category.updated | date:"Y-m-d" }}</div>
{% endblock main_nav %}

{% block main_content %}
<section class="p-2 px-lg-4 mb-4">
  <h2 class="fs-1 mb-4">{{ category.title }}</h2>
  <p class="lead mb-4">{{ category.brief }}</p>
  {{ category.display_description | safe }}
</section>

<section class="p-2 px-lg-4 mb-4">
  <h2 class="mb-4 fs-4 d-flex justify-content-between">
      <span>{% trans "Prompts" %}</span>
  </h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-2">{% trans "Key" %}</th>
        <th class="col-6">{% trans "Title" %}</th>
        {% if user.is_staff %}
        <th class="col-1">{% trans "Actions" %}</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for prompt in prompts %}
      <tr>
        <td class="font-monospace"><a href="{% url 'prompt_detail' prompt.id %}">{{ prompt.key }}</a></td>
        <td>{{ prompt.title }}</td>
        {% if user.is_staff %}
        <td><a href="{% url 'admin:prompts_prompt_change' prompt.id %}"><i class="bi bi-pencil"></i></a></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include "partials/pagination.html" %}
</section>
{% endblock main_content %}
