{% extends "detail.html" %}

{% load static %}
{% load i18n %}

{% block head_title %}{{ prompt.title }} - lens{% endblock head_title %}

{% block main_nav %}
<h1 class="mb-4 fs-5 d-flex justify-content-between align-items-baseline">
    <span>{% trans "Prompt" %}</span>
    <span class="ms-3 me-auto fw-normal font-monospace text-muted">#{{ prompt.id }}</span>
    {% if user.is_staff %}<a href="{% url 'admin:prompts_prompt_change' prompt.id %}" title="{% trans 'Edit prompt' %}"><i class="bi bi-pencil"></i></a>{% endif %}
</h1>

<div class="fw-semibold mb-2">{% trans "Category" %}</div>
<div class="mb-4" title="{{ prompt.category.title }}"><a href="{% url 'category_detail' prompt.category.id %}"
  ><i class="bi bi-tag me-2"></i>{{ prompt.category.title }}</a></div>

<div class="fw-semibold mb-2">{% trans "Created" %}</div>
<div class="font-monospace mb-4" title="{{ prompt.created }}"><i class="bi bi-calendar me-2"></i>{{ prompt.created | date:"Y-m-d" }}</div>
<div class="fw-semibold mb-2">{% trans "Updated" %}</div>
<div class="font-monospace mb-4" title="{{ prompt.updated }}"><i class="bi bi-calendar me-2"></i>{{ prompt.updated | date:"Y-m-d" }}</div>
{% endblock main_nav %}

{% block main_content %}
<section class="p-2 px-lg-4 mb-4">
  <h1 class="fs-1 mb-4">{{ prompt.title }}</h1>
  <p class="lead mb-4">{{ prompt.brief }}</p>
  {{ prompt.display_description | safe }}
</section>

<section class="p-2 px-lg-4 mb-4">
  <h2 class="mb-4 fs-4 d-flex justify-content-between">
      <span>{% trans "Responses" %}</span>
  </h2>

  {% if responses %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-2">{% trans "Key" %}</th>
        <th class="col-6">{% trans "Message" %}</th>
        {% if user.is_staff %}
        <th class="col-1">{% trans "Actions" %}</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for response in responses %}
      <tr>
        <td class="font-monospace">{{ response.key }}</td>
        <td>{{ response.message }}</td>
        {% if user.is_staff %}
        <td><a href="{% url 'admin:prompts_response_change' response.id %}"><i class="bi bi-pencil"></i></a></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>{% trans "There are no responses associated with this prompt." %}</p>
  {% endif %}

  {% include "partials/pagination.html" %}
</section>
{% endblock main_content %}
