{% load static %}
{% load i18n %}
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <title>{% block head_title %}lens{% endblock head_title %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{% static 'out/style.css' %}" rel="stylesheet" />
  </head>
  <body class="d-flex flex-column h-100 bg-white">
    {% block body %}
    <header>
      {% block header %}
      <nav class="navbar navbar-expand-lg bg-primary py-0">
        <div class="container-fluid">
          <div class="navbar-brand fs-6 d-flex align-items-end">
            <a class="fs-2 text-white text-decoration-none me-3" href="{% url 'home' %}">{{ site.name }}</a>
            <span class="navbar-text text-white">{{ site.version }}</span>
            {% if site.environment %}<span class="ms-2 badge text-bg-info">{{ site.environment }}</span>{% endif %}
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if user.is_authenticated %}
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              {% if user.is_staff %}
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'admin:index' %}">{% trans "Dashboard" %}</a>
              </li>
              {% endif %}
              <li class="nav-item me-2">
                <a class="nav-link text-white fw-bold" href="{% url 'account_email' %}">{{ user.username }}</a>
              </li>
            </ul>
            <form method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
              <button class="btn btn-outline-light w-100 w-lg-auto mb-3 mb-lg-0" type="submit">{% trans "Log out" %}</button>
            </form>
            {% else %}
            <a class="btn btn-outline-light ms-auto" href="{% url 'account_login' %}">{% trans "Log in" %}</a>
            {% endif %}
          </div>
        </div>
      </nav>
      {% endblock header %}
    </header>
    <main class="container-fluid flex-shrink-0 my-5">
      {% include "messages.html" %}
      {% block main %}
      {% endblock main %}
    </main>
    <footer class="mt-auto bg-dark text-light">
      {% block footer %}
      <div class="container-fluid py-3 d-flex flex-wrap align-items-center justify-content-start">
        <div class="mb-3 me-4 p-4 pb-2">
          <img src="{% static 'img/dsri.svg' %}" height="64" alt="" />
        </div>
        <p>
          A <a class="text-info" href="https://dsri.org">Digital Safety Research Institute</a> project.<br/>
          © 2024-2025 <a class="text-info" href="https://ul.org">Underwriters Laboratories Inc</a>.<br/>
          All trademarks are the property of their respective owners.
        </p>
      </div>
      {% endblock footer %}
    </footer>
    {% endblock body %}
    <script src="{% static 'out/bundle.js' %}" type="text/javascript"></script>
  </body>
</html>
