{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load markdown %}

{% block head_title %}#{{ tags.0.key }} - Site comparison - lens{% endblock head_title %}

{% block main %}
<div class="row">
  <div class="col-xl-3">
    <section class="p-2 px-lg-4">
      <h1 class="fs-4 text-muted mb-4">{% trans "Site comparison" %}</h1>
      <h2 class="fw-semibold font-monospace fs-6 mb-4">#{{ tags.0.key }}</h2>
      <p>This view compares returned findings across multiple sites.</p>
    </section>
  </div>
</div>

{% for category in categories.values %}
<div class="row">
  <div class="offset-xl-2 col-xl-10">
    <section class="p-2 px-lg-4">
      <div class="row">
        <div class="col-2"></div>
        {% for resource in resources %}
        <div class="col-1 d-flex align-items-end">
          <a class="fs-5 text-decoration-none" href="{% url 'resource_report' resource.id %}">
          {% if resource.icon %}<img class="mb-1" style="max-width: 100%; max-height: 32px; width: auto; height: auto;" src="{{ resource.icon }}" />{% endif %}
          <div>{{ resource.display_name }}</div>
          </a>
        </div>
        {% endfor %}
      </div>
    </section>
  </div>
</div>

<div class="row mb-5">
  <div class="col-xl-2 p-2 pe-0">
    <section class="p-2 d-flex align-items-center h-100">
      <h3 class="fs-4 text-end w-100"><a class="text-decoration-none" href="{% url 'category_detail' category_id=category.category.id %}">{{ category.category.title }}</a></h3>
    </section>
  </div>

  <div class="col-xl-10">
    <section class="p-2 px-lg-4">
      {% for prompt in category.prompts.values %}
      <div class="row">
        <div class="col-2 py-3 bg-light d-flex flex-column justify-content-center border-bottom {% if forloop.first %}border-top{% endif %}">
          <a class="text-decoration-none" href="{% url 'prompt_detail' prompt.prompt.id %}">{{ prompt.prompt.title }}</a>
        </div>
        {% for finding_list in prompt.response_list %}
        <div class="col-1 py-3 d-flex flex-column justify-content-center border-bottom {% if forloop.parentloop.first %}border-top{% endif %} {% cycle "bg-light-darker" "bg-light" as colcolors %}">
            {% if finding_list %}
            <ul class="list-unstyled mb-0">
              {% for finding in finding_list %}
              <li class="d-flex flex-column lh-sm {% if not forloop.last %}mb-2{% endif %}">
                <a class="text-decoration-none" href="{% url 'finding_detail' finding.id %}">{{ finding.display_value }}</a>
              </li>
              {% endfor %}
            </ul>
            {% else %}-{% endif %}
        </div>
        {% endfor %}
        {% resetcycle colcolors %}
      </div>
      {% endfor %}
    </section>
  </div>
</div>
{% endfor %}
{% endblock main %}
