{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block main %}
<div class="row">
  <div class="col-xl-2 order-2 order-lg-1">
    <section class="p-2 px-lg-4">
      <nav class="text-muted">
        {% block main_nav %}
        {% endblock main_nav %}
      </nav>
    </section>
  </div>

  <div class="col-xl-8 order-1 order-lg-2">
    {% block main_content %}
    {% endblock main_content %}
  </div>
</div>
{% endblock main %}
