{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load markdown %}

{% block head_title %}Site comparison: {{ request.GET.uri }} - lens{% endblock head_title %}

{% block main %}
<section class="row mx-0 mb-5">
  <div class="col-lg-6 px-0">
    <h1 class="mb-3">{% trans "Site comparison" %}</h1>
    <p>This requires at least one uri.</p>
  </div>
</section>

<section class="mb-5">
    <div class="col-lg-8">
        {% if uri %}
            <p>No information found for {{ request.GET.uri }}.</p>
            <h2>{% trans "Try comparing these sites instead." %}</h2>
            <a href="{% url 'resource_compare' %}?uri={{ uri }}"><code>{{ uri }}</code></a>
        {% else %}
            <p>{% trans "No sites found." %}</p>
        {% endif %}
      </div>
</section>
{% endblock main %}
