{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load markdown %}
{% load humanize %}

{% block head_title %}Site report: {{ request.GET.uri }} - lens{% endblock head_title %}

{% block main %}
<div class="row">
  <div class="col-lg-4">
    <h1 class="mb-3">{% blocktrans %}Site report{% endblocktrans %}</h1>
    <h3 class="mb-3 font-monospace">{{ request.GET.uri }}</h3>
  </div>

  <div class="col-lg-8">
    {% if request.GET.uri %}
        <p>No information found for {{ request.GET.uri }}.</p>
    {% else %}
        <p>{% trans "uri is required for a report." %}</p>
    {% endif %}
    {% if latest_resources %}
        <h2>{% trans "Try one of these sites instead." %}</h2>
        <ul>
            {% for resource in latest_resources %}
                <li>
                <a href="{% url 'resource_report' %}?uri={{ resource.uri }}"><code>{{ resource.uri }}</code></a>
                {% if user.is_staff %}<a href="{% url 'admin:resources_resource_change' resource.id %}" title="{% trans 'Edit Resource' %} {{ resource.uri }}"><i class="bi bi-pencil"></i></a>{% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{% trans "No sites found." %}</p>
    {% endif %}
  </div>
</div>
{% endblock main %}
