{% extends "detail.html" %}

{% load static %}
{% load i18n %}

{% block head_title %}lens{% endblock head_title %}

{% block main_content %}
<div class="row">
  <div class="col-xl-4 mb-4">
    <section class="p-2 px-xl-4">
      <h3 class="mb-4 fs-5">{% trans "Site report" %}</h3>
      <p class="mb-4">Enter a URI to view a risk report. Some examples:</p>
      {% if site_report_obj %}
        <ul class="list-unstyled mb-4">
          <li><a class="font-monospace" href="{% url 'resource_report' site_report_obj.id %}">{{ site_report_obj.path }}</a></li>
        </ul>
      {% else %}
        {% if user.is_staff %}
          <a href="{% url 'admin:resources_resource_add' %}" title="{% trans 'Add URI' %}">No sites found  <i class="bi bi-pencil"></i></a>
        {% endif %}
      {% endif %}
    </section>

    <section class="p-2 px-xl-4">
      <h3 class="mb-4 fs-5">{% trans "Site comparison" %}</h3>
      <p class="mb-4">You can also view an example side-by-side site comparison:</p>
      <h4 class="mb-4 fs-6 fw-semibold">{% trans "Tags" %}</h4>
      <ul class="list-unstyled">
        {% for tag in popular_tags %}
        <li class="mb-2"><a class="font-monospace" href="{% url 'resource_compare' %}?t={{ tag.id }}">#{{ tag.key }}</a></li>
        {% endfor %}
      </ul>
    </section>
  </div>


  <div class="col-xl-4 mb-4">
    <section class="p-2 px-xl-4 mb-4">
      <h3 class="mb-4 fs-5">{% trans "Latest sites" %}</h3>
      {% if latest_resources %}
      <ul class="list-unstyled">
        {% for resource in latest_resources %}
        <li class="mb-4 d-flex flex-column">
          <a class="font-monospace me-1" href="{% url 'resource_report' resource.id %}">{{ resource.display_name }}</a>
          <div class="text-muted font-monospace">
            <span>{{ resource.created | date:"Y-m-d" }}</span>
          </div>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>{% trans "No sites found." %}</p>
      {% endif %}
    </section>

    <section class="p-2 px-xl-4">
      <h3 class="mb-4 fs-5">{% trans "Categories" %}</h3>
      {% if categories %}
      <ul class="list-unstyled">
        {% for category in categories %}
        <li class="mb-2">
          <a href="{% url 'category_detail' category.id %}">{{ category.title }}</a>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>{% trans "No sites found." %}</p>
      {% endif %}
    </section>
  </div>

  <div class="col-xl-4 mb-4">
    <section class="p-2 px-xl-4">
      <h3 class="mb-4 fs-5">{% trans "Latest findings" %}</h3>
      {% if latest_findings %}
      <ul class="list-unstyled">
        {% for finding in latest_findings %}
        <li class="mb-4 d-flex flex-column">
          <a href="{% url 'finding_detail' finding_id=finding.id %}">{{ finding.message | safe }}</a>
          <div class="text-muted font-monospace">
            <span class="me-4">{{ finding.resource.display_name }}</span><span>{{ finding.created | date:"Y-m-d" }}</span>
          </div>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>{% trans "No findings found." %}</p>
      {% endif %}
    </section>
  </div>
</div>
{% endblock main_content %}
