{% load i18n %}
{% if messages %}
{% for message in messages %}
<aside class="alert alert-info alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{% trans 'Close' %}"></button>
</aside>
{% endfor %}
{% endif %}
