{% extends "detail.html" %}

{% load static %}
{% load i18n %}
{% load markdown %}
{% load humanize %}

{% block head_title %}Site report: {{ resource.display_name }} - lens{% endblock head_title %}

{% block main_nav %}
<h1 class="fs-5 text-muted mb-3">{% blocktrans %}Site report{% endblocktrans %}</h1>

<ul class="list-unstyled font-monospace mb-4">
  <li class="font-monospace mb-1"><i class="bi bi-globe me-2"></i>{{ resource.display_name }}</li>
</ul>

<div class="fw-semibold mb-2">{% trans "Tags" %}</div>
<div class="mb-4">
{% for tag in resource.tags.all %}<span class="font-monospace me-2">#{{ tag.key }}</span>{% endfor %}
</div>
{% endblock main_nav %}


{% block main_content %}
{% if resource %}
{% if resource.findings %}
{% regroup resource.findings.all by category_title as categories %}
{% for category in categories %}
<section class="p-2 px-lg-4 mb-5">
  <h2><a href="{% url 'category_detail' category_id=category.list.0.category_id %}">{{ category.list.0.category_title }}</a></h2>
  <p class="lead mb-0">{{ category.list.0.category_brief }}</p>
  {% regroup categories.list by prompt_title as prompts %}
  {% for finding in category.list %}
  <a
    class="btn btn-lg border btn-outline-light text-dark fw-semibold fs-6 w-100 py-3 mt-3 text-start"
    href="{% url 'finding_detail' finding.id %}"
  ><i class="bi bi-exclamation-circle me-4"></i>{{ finding.message | safe }}</a>
  {% endfor %}
</section>
{% endfor %}
{% else %}
<section class="p-2 px-lg-4 mb-4">
  <p class="fs-5 text-muted">{% trans "No findings located." %}</p>
</section>
{% endif %}
{% endif %}
{% endblock main_content %}
